FundXchange.Data.McGregorBFA/Service References/ServiceDesk/ServiceDeskServices3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Fin24.LiveData.Common.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Fin24.LiveData.Common.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEquityCandlestick">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EquityCandlestick" nillable="true" type="tns:EquityCandlestick" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEquityCandlestick" nillable="true" type="tns:ArrayOfEquityCandlestick" />
  <xs:complexType name="EquityCandlestick">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighPrice" type="xs:int" />
      <xs:element minOccurs="0" name="LowPrice" type="xs:int" />
      <xs:element minOccurs="0" name="OpenPrice" type="xs:int" />
      <xs:element minOccurs="0" name="ClosePrice" type="xs:int" />
      <xs:element minOccurs="0" name="CloseSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="NumberOfTrades" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOfStartAsTicks" type="xs:long" />
      <xs:element minOccurs="0" name="TimeOfCloseAsTicks" type="xs:long" />
      <xs:element minOccurs="0" name="TotalValue" type="xs:long" />
      <xs:element minOccurs="0" name="TotalVolume" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EquityCandlestick" nillable="true" type="tns:EquityCandlestick" />
  <xs:complexType name="ArrayOfIndexCandlestick">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="IndexCandlestick" nillable="true" type="tns:IndexCandlestick" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfIndexCandlestick" nillable="true" type="tns:ArrayOfIndexCandlestick" />
  <xs:complexType name="IndexCandlestick">
    <xs:sequence>
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Identifier" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighPrice" type="xs:int" />
      <xs:element minOccurs="0" name="LowPrice" type="xs:int" />
      <xs:element minOccurs="0" name="OpenPrice" type="xs:int" />
      <xs:element minOccurs="0" name="ClosePrice" type="xs:int" />
      <xs:element minOccurs="0" name="CloseSequenceNumber" type="xs:long" />
      <xs:element minOccurs="0" name="NumberOfTrades" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOfStartAsTicks" type="xs:long" />
      <xs:element minOccurs="0" name="TimeOfCloseAsTicks" type="xs:long" />
      <xs:element minOccurs="0" name="TotalValue" type="xs:long" />
      <xs:element minOccurs="0" name="TotalVolume" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="IndexCandlestick" nillable="true" type="tns:IndexCandlestick" />
</xs:schema>