FundXchange.NutcrackerAPI/Service References/JSEPublic/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:i0="http://www.nutcracker.co.za" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="JSEPublic" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.nutcracker.co.za" location="" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_IJSEPublic" type="i0:IJSEPublic">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ShareCodeLookup">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/ShareCodeLookup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMultipleShareData">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetMultipleShareData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPublicTradesForSymbol">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetPublicTradesForSymbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastTradesForSymbolList">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetLastTradesForSymbolList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSensNewsMessages">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetSensNewsMessages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexValues">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetIndexValues" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSensNewsBody">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetSensNewsBody" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDepth5">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetDepth5" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketMoversUp">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/MarketMoversUp" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketMoversDown">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/MarketMoversDown" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketMoversValue">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/MarketMoversValue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketMoversVolume">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/MarketMoversVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarketStats">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/MarketStats" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetHistoryForSymbol">
      <soap:operation soapAction="http://www.nutcracker.co.za/IJSEPublic/GetHistoryForSymbol" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="JSEPublic">
    <wsdl:port name="BasicHttpBinding_IJSEPublic" binding="tns:BasicHttpBinding_IJSEPublic">
      <soap:address location="http://vmfix2008/FundXchange/JSEPublic.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>