FundXchange.Data.McGregorBFA/Service References/SubscriptionManagementService/SubscriptionManagementService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="SubscriptionManagementService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://www6.fin24.com:25002/SubscriptionManagementService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://www6.fin24.com:25002/SubscriptionManagementService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://www6.fin24.com:25002/SubscriptionManagementService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/fin24.MarketDataProvisioning.Api.DTOs" />
      <xsd:import schemaLocation="http://www6.fin24.com:25002/SubscriptionManagementService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Util.Model.Results" />
      <xsd:import schemaLocation="http://www6.fin24.com:25002/SubscriptionManagementService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Fin24.Util.General.Container" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISubscriptionManagementService_Subscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Subscribe" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagementService_Subscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagementService_Unsubscribe_InputMessage">
    <wsdl:part name="parameters" element="tns:Unsubscribe" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagementService_Unsubscribe_OutputMessage">
    <wsdl:part name="parameters" element="tns:UnsubscribeResponse" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagementService_ClearSubscriptions_InputMessage">
    <wsdl:part name="parameters" element="tns:ClearSubscriptions" />
  </wsdl:message>
  <wsdl:message name="ISubscriptionManagementService_ClearSubscriptions_OutputMessage">
    <wsdl:part name="parameters" element="tns:ClearSubscriptionsResponse" />
  </wsdl:message>
  <wsdl:portType name="ISubscriptionManagementService">
    <wsdl:operation name="Subscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagementService/Subscribe" message="tns:ISubscriptionManagementService_Subscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagementService/SubscribeResponse" message="tns:ISubscriptionManagementService_Subscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagementService/Unsubscribe" message="tns:ISubscriptionManagementService_Unsubscribe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagementService/UnsubscribeResponse" message="tns:ISubscriptionManagementService_Unsubscribe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ClearSubscriptions">
      <wsdl:input wsaw:Action="http://tempuri.org/ISubscriptionManagementService/ClearSubscriptions" message="tns:ISubscriptionManagementService_ClearSubscriptions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISubscriptionManagementService/ClearSubscriptionsResponse" message="tns:ISubscriptionManagementService_ClearSubscriptions_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISubscriptionManagementService" type="tns:ISubscriptionManagementService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Subscribe">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagementService/Subscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Unsubscribe">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagementService/Unsubscribe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ClearSubscriptions">
      <soap:operation soapAction="http://tempuri.org/ISubscriptionManagementService/ClearSubscriptions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SubscriptionManagementService">
    <wsdl:port name="BasicHttpBinding_ISubscriptionManagementService" binding="tns:BasicHttpBinding_ISubscriptionManagementService">
      <soap:address location="http://www6.fin24.com:25002/SubscriptionManagementService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>