FundXchange.Orders/Web References/iTradeService/FundXchange.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="iTrade" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="iTrade" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="iTrade">
      <s:element name="GetPortfolio">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sBDA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPortfolioResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPortfolioResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sPassword" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="VerifyUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="VerifyUserResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sBDA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sExternalReference" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CancelOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sBDA" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetOrdersResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrder">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sUsername" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sBDA" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSymbol" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sSide" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Price" type="s:double" />
            <s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="ExpiryDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="PlaceOrderResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PlaceOrderResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DataTable" nillable="true">
        <s:complexType>
          <s:sequence>
            <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
            <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPortfolioSoapIn">
    <wsdl:part name="parameters" element="tns:GetPortfolio" />
  </wsdl:message>
  <wsdl:message name="GetPortfolioSoapOut">
    <wsdl:part name="parameters" element="tns:GetPortfolioResponse" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapIn">
    <wsdl:part name="parameters" element="tns:VerifyUser" />
  </wsdl:message>
  <wsdl:message name="VerifyUserSoapOut">
    <wsdl:part name="parameters" element="tns:VerifyUserResponse" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapIn">
    <wsdl:part name="parameters" element="tns:CancelOrder" />
  </wsdl:message>
  <wsdl:message name="CancelOrderSoapOut">
    <wsdl:part name="parameters" element="tns:CancelOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetOrders" />
  </wsdl:message>
  <wsdl:message name="GetOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapIn">
    <wsdl:part name="parameters" element="tns:PlaceOrder" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderSoapOut">
    <wsdl:part name="parameters" element="tns:PlaceOrderResponse" />
  </wsdl:message>
  <wsdl:message name="GetPortfolioHttpGetIn">
    <wsdl:part name="sBDA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPortfolioHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpGetIn">
    <wsdl:part name="sUsername" type="s:string" />
    <wsdl:part name="sPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="CancelOrderHttpGetIn">
    <wsdl:part name="sBDA" type="s:string" />
    <wsdl:part name="sExternalReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelOrderHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetOrdersHttpGetIn">
    <wsdl:part name="sBDA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrdersHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderHttpGetIn">
    <wsdl:part name="sUsername" type="s:string" />
    <wsdl:part name="sBDA" type="s:string" />
    <wsdl:part name="sSymbol" type="s:string" />
    <wsdl:part name="sSide" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
    <wsdl:part name="Volume" type="s:string" />
    <wsdl:part name="ExpiryDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderHttpGetOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetPortfolioHttpPostIn">
    <wsdl:part name="sBDA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetPortfolioHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpPostIn">
    <wsdl:part name="sUsername" type="s:string" />
    <wsdl:part name="sPassword" type="s:string" />
  </wsdl:message>
  <wsdl:message name="VerifyUserHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="CancelOrderHttpPostIn">
    <wsdl:part name="sBDA" type="s:string" />
    <wsdl:part name="sExternalReference" type="s:string" />
  </wsdl:message>
  <wsdl:message name="CancelOrderHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="GetOrdersHttpPostIn">
    <wsdl:part name="sBDA" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetOrdersHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderHttpPostIn">
    <wsdl:part name="sUsername" type="s:string" />
    <wsdl:part name="sBDA" type="s:string" />
    <wsdl:part name="sSymbol" type="s:string" />
    <wsdl:part name="sSide" type="s:string" />
    <wsdl:part name="Price" type="s:string" />
    <wsdl:part name="Volume" type="s:string" />
    <wsdl:part name="ExpiryDate" type="s:string" />
  </wsdl:message>
  <wsdl:message name="PlaceOrderHttpPostOut">
    <wsdl:part name="Body" element="tns:DataTable" />
  </wsdl:message>
  <wsdl:portType name="FundXchangeSoap">
    <wsdl:operation name="GetPortfolio">
      <wsdl:input message="tns:GetPortfolioSoapIn" />
      <wsdl:output message="tns:GetPortfolioSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:input message="tns:VerifyUserSoapIn" />
      <wsdl:output message="tns:VerifyUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input message="tns:CancelOrderSoapIn" />
      <wsdl:output message="tns:CancelOrderSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrdersSoapIn" />
      <wsdl:output message="tns:GetOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderSoapIn" />
      <wsdl:output message="tns:PlaceOrderSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FundXchangeHttpGet">
    <wsdl:operation name="GetPortfolio">
      <wsdl:input message="tns:GetPortfolioHttpGetIn" />
      <wsdl:output message="tns:GetPortfolioHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:input message="tns:VerifyUserHttpGetIn" />
      <wsdl:output message="tns:VerifyUserHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input message="tns:CancelOrderHttpGetIn" />
      <wsdl:output message="tns:CancelOrderHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrdersHttpGetIn" />
      <wsdl:output message="tns:GetOrdersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderHttpGetIn" />
      <wsdl:output message="tns:PlaceOrderHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="FundXchangeHttpPost">
    <wsdl:operation name="GetPortfolio">
      <wsdl:input message="tns:GetPortfolioHttpPostIn" />
      <wsdl:output message="tns:GetPortfolioHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <wsdl:input message="tns:VerifyUserHttpPostIn" />
      <wsdl:output message="tns:VerifyUserHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <wsdl:input message="tns:CancelOrderHttpPostIn" />
      <wsdl:output message="tns:CancelOrderHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <wsdl:input message="tns:GetOrdersHttpPostIn" />
      <wsdl:output message="tns:GetOrdersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <wsdl:input message="tns:PlaceOrderHttpPostIn" />
      <wsdl:output message="tns:PlaceOrderHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FundXchangeSoap" type="tns:FundXchangeSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortfolio">
      <soap:operation soapAction="iTrade/GetPortfolio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap:operation soapAction="iTrade/VerifyUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap:operation soapAction="iTrade/CancelOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap:operation soapAction="iTrade/GetOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap:operation soapAction="iTrade/PlaceOrder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FundXchangeSoap12" type="tns:FundXchangeSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPortfolio">
      <soap12:operation soapAction="iTrade/GetPortfolio" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <soap12:operation soapAction="iTrade/VerifyUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <soap12:operation soapAction="iTrade/CancelOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <soap12:operation soapAction="iTrade/GetOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <soap12:operation soapAction="iTrade/PlaceOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FundXchangeHttpGet" type="tns:FundXchangeHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="GetPortfolio">
      <http:operation location="/GetPortfolio" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <http:operation location="/VerifyUser" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <http:operation location="/CancelOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <http:operation location="/GetOrders" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <http:operation location="/PlaceOrder" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FundXchangeHttpPost" type="tns:FundXchangeHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="GetPortfolio">
      <http:operation location="/GetPortfolio" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyUser">
      <http:operation location="/VerifyUser" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelOrder">
      <http:operation location="/CancelOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrders">
      <http:operation location="/GetOrders" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PlaceOrder">
      <http:operation location="/PlaceOrder" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FundXchange">
    <wsdl:port name="FundXchangeSoap" binding="tns:FundXchangeSoap">
      <soap:address location="http://www.sanlamitrade.co.za/FundXchange/FundXchange.asmx" />
    </wsdl:port>
    <wsdl:port name="FundXchangeSoap12" binding="tns:FundXchangeSoap12">
      <soap12:address location="http://www.sanlamitrade.co.za/FundXchange/FundXchange.asmx" />
    </wsdl:port>
    <wsdl:port name="FundXchangeHttpGet" binding="tns:FundXchangeHttpGet">
      <http:address location="http://www.sanlamitrade.co.za/FundXchange/FundXchange.asmx" />
    </wsdl:port>
    <wsdl:port name="FundXchangeHttpPost" binding="tns:FundXchangeHttpPost">
      <http:address location="http://www.sanlamitrade.co.za/FundXchange/FundXchange.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>