FundXchange.Model/Service References/AuthenticationService/FundXchange.Services.State.DTOs.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.DTOs" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.DTOs" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/FundXchange.Services.State" />
  <xs:complexType name="UserDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Account" nillable="true" type="tns:AccountDto" />
      <xs:element minOccurs="0" name="AlertScripts" nillable="true" type="tns:ArrayOfAlertScriptDTO" />
      <xs:element minOccurs="0" name="Alerts" nillable="true" type="tns:ArrayOfAlertDTO" />
      <xs:element minOccurs="0" name="BrokerageAccounts" nillable="true" type="tns:ArrayOfBrokerageAccountDTO" />
      <xs:element minOccurs="0" name="DataPortfolios" nillable="true" type="tns:ArrayOfDataPortfolioDTO" />
      <xs:element minOccurs="0" name="PersonalDetails" nillable="true" type="tns:PersonalDetailsDto" />
      <xs:element minOccurs="0" name="RoyaltyAgreements" nillable="true" type="tns:ArrayOfRoyaltyAgreementDTO" />
      <xs:element minOccurs="0" name="Scanners" nillable="true" type="tns:ArrayOfScannerDTO" />
      <xs:element minOccurs="0" name="ServiceCodes" nillable="true" type="tns:ArrayOfServiceCodeDTO" />
      <xs:element minOccurs="0" name="Source" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" minOccurs="0" name="SubscriptionStatus" type="q1:SubscriptionStatuses" />
      <xs:element minOccurs="0" name="TrialStarted" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserDTO" nillable="true" type="tns:UserDTO" />
  <xs:complexType name="AccountDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="DataVendorAccountId" type="xs:int" />
      <xs:element minOccurs="0" name="DataVendor_Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DataVendor_Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" minOccurs="0" name="PaymentModel" type="q2:PaymentModelTypes" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" minOccurs="0" name="Product" type="q3:Product" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" minOccurs="0" name="Role" type="q4:Role" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountDto" nillable="true" type="tns:AccountDto" />
  <xs:complexType name="ArrayOfAlertScriptDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlertScriptDTO" nillable="true" type="tns:AlertScriptDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlertScriptDTO" nillable="true" type="tns:ArrayOfAlertScriptDTO" />
  <xs:complexType name="AlertScriptDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Abbreviation" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlertName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Bars" type="xs:int" />
      <xs:element minOccurs="0" name="BuyScript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayHours" type="xs:boolean" />
      <xs:element minOccurs="0" name="DefaultScript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Enabled" type="xs:boolean" />
      <xs:element minOccurs="0" name="EndOfDay" type="xs:boolean" />
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExitLongScript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ExitShortScript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GTC" type="xs:boolean" />
      <xs:element minOccurs="0" name="GTCHours" type="xs:boolean" />
      <xs:element minOccurs="0" name="Interval" type="xs:int" />
      <xs:element minOccurs="0" name="IsUserDefined" type="xs:boolean" />
      <xs:element minOccurs="0" name="Limit" type="xs:boolean" />
      <xs:element minOccurs="0" name="Market" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumberOfLines" type="xs:short" />
      <xs:element minOccurs="0" name="Period" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Portfolio" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
      <xs:element minOccurs="0" name="SellScript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopLimit" type="xs:boolean" />
      <xs:element minOccurs="0" name="StopLimitValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StopMarket" type="xs:boolean" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TradeSignalScript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueId" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertScriptDTO" nillable="true" type="tns:AlertScriptDTO" />
  <xs:complexType name="ArrayOfAlertDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlertDTO" nillable="true" type="tns:AlertDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlertDTO" nillable="true" type="tns:ArrayOfAlertDTO" />
  <xs:complexType name="AlertDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertName" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" minOccurs="0" name="AlertType" type="q5:AlertType" />
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tag" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AlertDTO" nillable="true" type="tns:AlertDTO" />
  <xs:complexType name="ArrayOfBrokerageAccountDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BrokerageAccountDTO" nillable="true" type="tns:BrokerageAccountDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBrokerageAccountDTO" nillable="true" type="tns:ArrayOfBrokerageAccountDTO" />
  <xs:complexType name="BrokerageAccountDTO">
    <xs:sequence>
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" minOccurs="0" name="BrokerageType" type="q6:BrokerageTypes" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BrokerageAccountDTO" nillable="true" type="tns:BrokerageAccountDTO" />
  <xs:complexType name="ArrayOfDataPortfolioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DataPortfolioDTO" nillable="true" type="tns:DataPortfolioDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDataPortfolioDTO" nillable="true" type="tns:ArrayOfDataPortfolioDTO" />
  <xs:complexType name="DataPortfolioDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Instruments" nillable="true" type="tns:ArrayOfInstrumentDTO" />
      <xs:element minOccurs="0" name="PortfolioName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataPortfolioDTO" nillable="true" type="tns:DataPortfolioDTO" />
  <xs:complexType name="ArrayOfInstrumentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="InstrumentDTO" nillable="true" type="tns:InstrumentDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInstrumentDTO" nillable="true" type="tns:ArrayOfInstrumentDTO" />
  <xs:complexType name="InstrumentDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlternateSymbol" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ISIN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MarketSegment" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Security" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="InstrumentDTO" nillable="true" type="tns:InstrumentDTO" />
  <xs:complexType name="PersonalDetailsDto">
    <xs:sequence>
      <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Cellphone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Company" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Country" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IdNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/FundXchange.Services.State.Enumerations" minOccurs="0" name="Salutation" type="q7:Salutations" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PersonalDetailsDto" nillable="true" type="tns:PersonalDetailsDto" />
  <xs:complexType name="ArrayOfRoyaltyAgreementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RoyaltyAgreementDTO" nillable="true" type="tns:RoyaltyAgreementDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRoyaltyAgreementDTO" nillable="true" type="tns:ArrayOfRoyaltyAgreementDTO" />
  <xs:complexType name="RoyaltyAgreementDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RoyaltyAgreementIdentifier" type="ser:guid" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoyaltyAgreementDTO" nillable="true" type="tns:RoyaltyAgreementDTO" />
  <xs:complexType name="ArrayOfScannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ScannerDTO" nillable="true" type="tns:ScannerDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfScannerDTO" nillable="true" type="tns:ArrayOfScannerDTO" />
  <xs:complexType name="ScannerDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="AlertScript" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BarHistory" type="xs:int" />
      <xs:element minOccurs="0" name="BarInterval" type="xs:int" />
      <xs:element minOccurs="0" name="Exchange" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsLocked" type="xs:boolean" />
      <xs:element minOccurs="0" name="IsPaused" type="xs:boolean" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/FundXchange.Services.State" minOccurs="0" name="Periodicity" type="q8:Periodicities" />
      <xs:element minOccurs="0" name="ScannerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Symbol" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ScannerDTO" nillable="true" type="tns:ScannerDTO" />
  <xs:complexType name="ArrayOfServiceCodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCodeDTO" nillable="true" type="tns:ServiceCodeDTO" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCodeDTO" nillable="true" type="tns:ArrayOfServiceCodeDTO" />
  <xs:complexType name="ServiceCodeDTO">
    <xs:sequence>
      <xs:element minOccurs="0" name="FunctionalServiceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="MarketCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SMSCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Type" type="ser:char" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCodeDTO" nillable="true" type="tns:ServiceCodeDTO" />
</xs:schema>