FundXchange.Data.McGregorBFA/Service References/LiveProtoCandlestickService/LiveProtoCandlestickServices.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="LiveProtoCandlestickServices" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://app12.fin24.com:25001/LiveProtoCandlestickServices?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://app12.fin24.com:25001/LiveProtoCandlestickServices?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://app12.fin24.com:25001/LiveProtoCandlestickServices?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fin24.LiveData.Candlestick.Services.API.DTOs" />
      <xsd:import schemaLocation="http://app12.fin24.com:25001/LiveProtoCandlestickServices?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Fin24.LiveData.Candlestick.Services.API.Enumerations" />
      <xsd:import schemaLocation="http://app12.fin24.com:25001/LiveProtoCandlestickServices?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Util.Model.Results" />
      <xsd:import schemaLocation="http://app12.fin24.com:25001/LiveProtoCandlestickServices?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Fin24.Util.General.Container" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ILiveProtoCandlestickServices_GetEquityCandlesticks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEquityCandlesticks" />
  </wsdl:message>
  <wsdl:message name="ILiveProtoCandlestickServices_GetEquityCandlesticks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEquityCandlesticksResponse" />
  </wsdl:message>
  <wsdl:message name="ILiveProtoCandlestickServices_GetIndexCandlesticks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetIndexCandlesticks" />
  </wsdl:message>
  <wsdl:message name="ILiveProtoCandlestickServices_GetIndexCandlesticks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetIndexCandlesticksResponse" />
  </wsdl:message>
  <wsdl:portType name="ILiveProtoCandlestickServices">
    <wsdl:operation name="GetEquityCandlesticks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveProtoCandlestickServices/GetEquityCandlesticks" message="tns:ILiveProtoCandlestickServices_GetEquityCandlesticks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveProtoCandlestickServices/GetEquityCandlesticksResponse" message="tns:ILiveProtoCandlestickServices_GetEquityCandlesticks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetIndexCandlesticks">
      <wsdl:input wsaw:Action="http://tempuri.org/ILiveProtoCandlestickServices/GetIndexCandlesticks" message="tns:ILiveProtoCandlestickServices_GetIndexCandlesticks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ILiveProtoCandlestickServices/GetIndexCandlesticksResponse" message="tns:ILiveProtoCandlestickServices_GetIndexCandlesticks_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ILiveProtoCandlestickServices" type="tns:ILiveProtoCandlestickServices">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetEquityCandlesticks">
      <soap:operation soapAction="http://tempuri.org/ILiveProtoCandlestickServices/GetEquityCandlesticks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIndexCandlesticks">
      <soap:operation soapAction="http://tempuri.org/ILiveProtoCandlestickServices/GetIndexCandlesticks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="LiveProtoCandlestickServices">
    <wsdl:port name="BasicHttpBinding_ILiveProtoCandlestickServices" binding="tns:BasicHttpBinding_ILiveProtoCandlestickServices">
      <soap:address location="http://app12.fin24.com:25001/LiveProtoCandlestickServices" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>