FundXchange.Data.McGregorBFA/Service References/LiveProtoCandlestickService/LiveProtoCandlestickServices5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Util.Model.Results" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Util.Model.Results" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://app12.fin24.com:25001/LiveProtoCandlestickServices?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Fin24.Util.General.Container" />
  <xs:complexType name="OperationResultOfbase64Binary">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="OperationResultOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/Util.Model.Results" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="base64Binary" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorResult" nillable="true" type="tns:ErrorResultList" />
      <xs:element minOccurs="0" name="Result" nillable="true" type="xs:base64Binary" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Fin24.Util.General.Container" minOccurs="0" name="Status" type="q1:ResultStatus" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OperationResultOfbase64Binary" nillable="true" type="tns:OperationResultOfbase64Binary" />
  <xs:complexType name="ErrorResultList">
    <xs:sequence>
      <xs:element minOccurs="0" name="ErrorList" nillable="true" type="tns:ArrayOfError" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ErrorResultList" nillable="true" type="tns:ErrorResultList" />
  <xs:complexType name="ArrayOfError">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Error" nillable="true" type="tns:Error" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfError" nillable="true" type="tns:ArrayOfError" />
  <xs:complexType name="Error">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Error" nillable="true" type="tns:Error" />
</xs:schema>