FundXchange.Model/Service References/PortfolioService/PortfolioService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:tns="http://tempuri.org/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" name="PortfolioService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://services.fundxchange.co.za/PortfolioService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://services.fundxchange.co.za/PortfolioService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://services.fundxchange.co.za/PortfolioService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/FundXchange.Services.ActionResults" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IPortfolioService_AddDataPortfolio_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataPortfolio" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_AddDataPortfolio_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataPortfolioResponse" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_RemoveDataPortfolio_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataPortfolio" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_RemoveDataPortfolio_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataPortfolioResponse" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_AddDataPortfolioInstrument_InputMessage">
    <wsdl:part name="parameters" element="tns:AddDataPortfolioInstrument" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_AddDataPortfolioInstrument_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataPortfolioInstrumentResponse" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_RemoveDataPortfolioInstrument_InputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataPortfolioInstrument" />
  </wsdl:message>
  <wsdl:message name="IPortfolioService_RemoveDataPortfolioInstrument_OutputMessage">
    <wsdl:part name="parameters" element="tns:RemoveDataPortfolioInstrumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IPortfolioService">
    <wsdl:operation name="AddDataPortfolio">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortfolioService/AddDataPortfolio" message="tns:IPortfolioService_AddDataPortfolio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortfolioService/AddDataPortfolioResponse" message="tns:IPortfolioService_AddDataPortfolio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDataPortfolio">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortfolioService/RemoveDataPortfolio" message="tns:IPortfolioService_RemoveDataPortfolio_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortfolioService/RemoveDataPortfolioResponse" message="tns:IPortfolioService_RemoveDataPortfolio_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddDataPortfolioInstrument">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortfolioService/AddDataPortfolioInstrument" message="tns:IPortfolioService_AddDataPortfolioInstrument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortfolioService/AddDataPortfolioInstrumentResponse" message="tns:IPortfolioService_AddDataPortfolioInstrument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RemoveDataPortfolioInstrument">
      <wsdl:input wsaw:Action="http://tempuri.org/IPortfolioService/RemoveDataPortfolioInstrument" message="tns:IPortfolioService_RemoveDataPortfolioInstrument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPortfolioService/RemoveDataPortfolioInstrumentResponse" message="tns:IPortfolioService_RemoveDataPortfolioInstrument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpBindingConfig_IPortfolioService" type="tns:IPortfolioService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddDataPortfolio">
      <soap:operation soapAction="http://tempuri.org/IPortfolioService/AddDataPortfolio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDataPortfolio">
      <soap:operation soapAction="http://tempuri.org/IPortfolioService/RemoveDataPortfolio" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddDataPortfolioInstrument">
      <soap:operation soapAction="http://tempuri.org/IPortfolioService/AddDataPortfolioInstrument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveDataPortfolioInstrument">
      <soap:operation soapAction="http://tempuri.org/IPortfolioService/RemoveDataPortfolioInstrument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PortfolioService">
    <wsdl:port name="basicHttpBindingConfig_IPortfolioService" binding="tns:basicHttpBindingConfig_IPortfolioService">
      <soap:address location="http://services.fundxchange.co.za/PortfolioService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>